
.stickyTitleContainer {
    position:fixed;
    color:white;
    text-align:center;
    background-color:#001D3D;
    border-radius:10px;
    padding: 10px;
    transform:translateX(-12rem);
    border-style:solid;
    border-width:2px;
    border-color:white;
    font:"Inter";
    z-index:2;
    opacity:25%;
    transition: all .3s;
    font-size:.75rem;
}

.stickyTitleContainer:hover {
    transform:scale(1.05),translateX(-8rem);
    opacity:75%;
}

.stickyTitleContainer > * {
    margin:0;
}